body {
    blockquote {margin: 20px; }
    font-family: verdana;
    background-color: gray;
    margin: 35px;
    
}


h1 {
    blockquote {margin: 20px; }
    font-family: verdana;
    font-size: 42.5px;
    font-style: italic;
    
    border: 15px lavender; 
    padding: 10px gray; 

    
}

h2 {
    blockquote {margin: 20px; }
   font-family: verdana;

}

main {
    blockquote {margin: 20px; }
    font-family: verdana;
}

footer {
    blockquote {margin: 20px; }
    font-family: verdana;
}
