body {
    margin: 35px;
    font-family: verdana;
    background-color: gray;
     
}


h1 {
    font-family: verdana;
    font-size: 42.5px;
    font-style: italic;
    margin: 35px; 
    border: 15px lavender; 
    padding: 10px gray; 

    
}

h2 {
    margin: 20px;
   font-family: verdana;

}

main {
    margin: 20px
    font-family: verdana;
}

footer {
    margin: 20px; 
    font-family: verdana;
}
